[package]
name = "libwifi"
description = "A library for parsing IEEE 802.11 frames and handling wifi interfaces."
version = "0.3.1"
authors = ["Arne Beer <contact@arne.beer>"]
edition = "2021"

homepage = "https://github.com/nukesor/libwifi"
repository = "https://github.com/nukesor/libwifi"
documentation = "https://docs.rs/libwifi/"
license = "MIT"
keywords = ["wifi", "802_11", "parser", "frame"]
readme = "README.md"

[profile.release]
lto = true
codegen-units = 1

[workspace]
members = ["libwifi_macros"]

[dependencies]
log = "0.4"
nom = "7"
thiserror = "1.0"
strum_macros = "0.24"
enum_dispatch = "0.3"

libwifi_macros = { version="0.0.2", path="libwifi_macros" }

[dev-dependencies]
criterion = "0.3"
doc-comment = "0.3"
rand = "0.8"

[[bench]]
name = "parse_beacon"
harness = false

[[bench]]
name = "parse_data"
harness = false
